//@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@use '@angular/material' as mat;
$my-palette: mat.$indigo-palette;
$my-typography: mat.define-typography-config();
@include mat.typography-hierarchy($my-typography);
@include mat.core();

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto,"Helvetica Neue", sans-serif;
    margin: auto;
    min-width: 512px;
    max-width: 512px;
}