<div>
  <h1>Hectoc Challenger</h1>

  <div class="tutorial">
    <p>Solve hectoc challenges.
      Hectocs are mathematical challenges developed by <a href="https://en.wikipedia.org/wiki/Yusnier_Viera">Yusnier Viera</a>.
      More infos at <a href="https://wir-rechnen.de/hectoc">https://wir-rechnen.de/hectoc</a>
    </p>
    <p>
      The goal is to combine the 6 numbers to a total of 100.
      You can use the mathematical operations + - * / ^ and the parenthesis ()
      Numbers can be combined but you have to use all 6 of them.
    </p>
    <p>
      For example: 991347 can be solved with "99+1-(3+4-7)".
    </p>
    <p>
      This site is a private project from <a href="https://seism0saurus.de">seism0saurus.de</a>.
      The algorithm to check your solution is experimental, so please help me to improve it.
      Please open [issues](https://github.com/seism0saurus/hectoc/issues) on the [GitHub Repo](https://github.com/seism0saurus/hectoc)
      or send errors to <a href="mailto:hectoc@seism0saurus.de">hectoc@seism0saurus.de</a> if you don't have an account.
    </p>
  </div>

  <div class="challenge">
    <h2>Your challenge</h2>
    <div class="hectoc">
      {{hectoc}}
    </div>
    <button mat-fab extended id="refresh" name="refresh" aria-label="refresh" (click)="newHectoc()">
      <mat-icon>refresh</mat-icon>
      New challenge
    </button>
  </div>

  <form class="solution" (ngSubmit)="solve()">
    <mat-form-field appearance="fill">
      <mat-label>Solution</mat-label>
      <input matInput id="equotation" name="equotation" required [(ngModel)]="solution">
      <button matSuffix mat-icon-button id="close" name="close" aria-label="close" (click)="this.solution=''">
        <mat-icon>close</mat-icon>
      </button>
      <!-- <mat-error *ngIf="solution.errors?.['solveFailed']">{{errorSolve}}</mat-error> -->
    </mat-form-field>
    <button mat-fab extended color="primary" id="solve" name="solve" aria-label="solve" (click)="solve()">
      <mat-icon>calculate</mat-icon>
      Solve
    </button>
  </form>
</div>