<h2>Reporting Bugs</h2>
Reporting bugs is appreciated. It helps me to improve the code or the website.
That way the hectoc project gets better for everyone.

<h3>Open an Issue on GitHub</h3>
The code for the website, the challenger, the solution check algorithm and the hourly hectoc bot
is hosted on GitHub.
Please open an <a href="https://github.com/seism0saurus/hectoc/issues">issue</a> on the <a
  href="https://github.com/seism0saurus/hectoc">GitHub repo</a>, if you experience any errors or unusual behavior.
Issues are the most comfortable way to report, discuss and solve a problem.#
They are public so others experiencing the same problem can give additional context or don't have to report the same
error again.
But you need an account on GitHub.

<h3>Write a Mail</h3>
You can also send issues to <a href="mailto:hectoc@seism0saurus.de">hectoc&#64;seism0saurus.de</a>,
if you don't have a GitHub account.
