mat-toolbar {
  background: #002b5c;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 280px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}


.menu-button.active-link {
  color: #ff4081 !important;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.125rem;
  color: white !important;

  mat-icon {
    margin-right: 8px;
    width: 1.5rem;
    height: 1.5rem;
  }
}

/*.mat-mdc-button:not(:disabled) {*/
/*  color: white;*/
/*}*/

.avatar {
  margin-top: 16px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.project {
  margin-top: 8px;
  font-size: 1.25rem;
  font-weight: normal;
}

.author {
  margin-top: 2px;
  font-size: 0.8rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.content {
  height: calc(100vh - 130px);
  overflow-x: auto;
  overflow-y: scroll;
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  padding: 16px;
  max-width: 800px;

  font-size: 1rem;
  color: black;

  a:link {
    color: #002b5c;
    text-decoration: none;
  }

  h1 {
    font-size: 1.25rem;
    font-weight: normal;
    color: #002b5c;
  }

  h2 {
    font-size: 1.125rem;
    font-weight: normal;
    color: #002b5c;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: normal;
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: #002b5c;
  }

  h4 {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 1.25em;
    margin-bottom: 1em;
    color: #002b5c;
  }
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

a:link {
  color: lightgrey;
  text-decoration: none;
}
