h1, h2 {
  margin-top: 32px;
  align-self: center;
}

.tutorial {
  align-self: center;
}

.challenge {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  gap: 32px;
  margin-bottom: 32px;
}

.hectoc {
  font-size: 32px;
  align-self: center;
}

.solution {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  margin-bottom: 32px;
}

mat-error {
  margin-top: 90px;
}

mat-form-field {
  min-width: 128px;
}
