<mat-toolbar>
  <button mat-icon-button
          *ngIf="sidenav.mode === 'over'"
          (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="assets/images/seism0saurus.jpg"
    />
    <h1 class="project">Hectoc Project</h1>
    <p class="author">by <a href="https://seism0saurus.de">seism0saurus</a></p>

    <mat-divider></mat-divider>

    <button mat-button [routerLink]="'home'" routerLinkActive="active-link" class="menu-button">
      <mat-icon svgIcon="numbers" aria-hidden="false" aria-label="goto hectoc explanation"></mat-icon>
      <span>Hectoc</span>
    </button>
    <button mat-button [routerLink]="'howto'" routerLinkActive="active-link" class="menu-button">
      <mat-icon svgIcon="rocket" aria-hidden="false" aria-label="goto howto solve"></mat-icon>
      <span>Howto Solve</span>
    </button>
    <button mat-button [routerLink]="'challenger'" routerLinkActive="active-link" class="menu-button">
      <mat-icon svgIcon="challenge" aria-hidden="false" aria-label="goto hectoc challenges"></mat-icon>
      <span>Challenges</span>
    </button>
    <button mat-button [routerLink]="'bot'" routerLinkActive="active-link" class="menu-button">
      <mat-icon svgIcon="mastodon" aria-hidden="false" aria-label="goto mastodon bot"></mat-icon>
      <span>Hourly Hectoc Bot</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button [routerLink]="'bug'" routerLinkActive="active-link" class="menu-button">
      <mat-icon svgIcon="bug" aria-hidden="false" aria-label="goto bug reports"></mat-icon>
      <span>Report Bugs</span>
    </button>
    <button mat-button [routerLink]="'participate'" routerLinkActive="active-link" class="menu-button">
      <mat-icon svgIcon="participate" aria-hidden="false" aria-label="goto participation"></mat-icon>
      <span>Participate</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button [routerLink]="'legal-notice'" routerLinkActive="active-link" class="menu-button">
      <mat-icon svgIcon="law" aria-hidden="false" aria-label="goto legal notice"></mat-icon>
      <span>Legal Notice</span>
    </button>
    <button mat-button [routerLink]="'data-protection'" routerLinkActive="active-link" class="menu-button">
      <mat-icon svgIcon="cookie" aria-hidden="false" aria-label="Goto data protection"></mat-icon>
      <span>Data Protection</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
