<h2>Hourly Hectoc Bot</h2>

The Hourly Hectoc Bot is a Mastodon bot, that post a new hectoc challenge every hour.
<br/>
You can find it on the <a href="https://mastodon.seism0saurus.de">mastodon.seism0saurus.de</a> Mastodon instance under the handle
&#64;hourlyhectoc&#64;mastodon.seism0saurus.de or by followin this <a href="https://mastodon.seism0saurus.de/@hourlyhectoc">link</a>.

<h3>Data Protection</h3>
Please be aware, that the instances of Mastodon gather some data to provide their service.
But it's much better than social media sites from big companies.
The Data Protection policy of the mastodon.seism0saurus.de instance is linked in the <a href="/data-protection">Data Protection</a> entry.
The hectoc bot itself will store your Mastodon handle, your proposed solutions and the time you posted them.
At the end of each month there will be a post with the top three participants.

<h3>Playing with the Bot</h3>
<h4>Get the challenges</h4>
The hourly hectoc bot will post a new challenge every hour.
To receive them, you can follow the bot with your Mastodon account.
<br/>
A challenge can look like the following.
<br/>

<img
  alt="A hectoc challenge from the Hourly Hectoc Bot on Mastodon.
  On the top is the logo and the name of the account.
  The bot greets the users and presents the hourly challenge 689699.
  Then the bot wishes good luck and adds the hashtags #math, #mentalcalculator and #hectoc to the post."
  width="300"
  src="assets/images/hectoc-bot-challenge.png"
  >

<h4>Answer</h4>
You can click on reply and write an answer with your solution to the challenge.
<br/>
Please put the solution in a new and otherwise empty line.
The bot has to find your proposed solution in the text and the new line makes it easier for him.
The bot appreciates your effort.
Please send only one answer per reply. Multiple answers are not recognized.
<br/>

<img
  alt="A response to a hectoc challenge from the Hourly Hectoc Bot on Mastodon.
  The content warning says 'Solution' to prevent spoilers for other participants.
  The answer contains a new line with the solution '6-8+9-6+99'.
  At the bottom is a button to send the answer to the bot."
  width="300"
  src="assets/images/hectoc-bot-answer.png"
>

<h4>Get Feedback</h4>
After you sent your solution to the Hourly Hectoc Bot, it can take up to 5 minutes before you get feedback from the bot.
<br/>
<br/>
If your proposed solution is correct, the bot favorites your post.
Normally you get a notification from your Mastodon client about that.
<br/>
<br/>
If your proposed solution is wrong, the bot will send you a private message.
The Hourly Hectoc Bot is a nice bot and doesn't want to shame you publicly.
It is also possible that the bot couldn't find the solution in your post.
The message should give you a hint.
<br/>
Here is an example for a feedback to a wrong answer.
<br/>
<img
  alt="The hectoc bot calculated the result of you solution and points out, that it is not 100 but 65."
  width="300"
  src="assets/images/hectoc-bot-wrong-answer.png"
>
<br/>

And here an example for feedback to an answer, the bot couldn't understand.
<br/>
<img
  alt="The hectoc bot couldn't understand the answer."
  width="300"
  src="assets/images/hectoc-bot-unfound-answer.png"
>

<br/>
<br/>
The Hourly Hectoc Bot is not perfect. If you think, it made a mistake with your answer,
please see the entry <a href="/bug">Bugs</a> for details how to improve it.
<br/>
<br/>
To keep you motivated and the feed positive, feedback for correct answers are public and feedback for wrong answers private.

<h4>Retry a Challenge</h4>
The Hourly Hectoc Bot does not understand, if you edit a given answer.
If you want to sent an additional answer or correct a given one, send a new response to the original challenge post.
